/* GENERAL SETTINGS */

.ms_back-jumbo{
    background-image: url('/C:/BOOLEAN/htmlcss-playstation/img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ms_back-jumbo2{
    background-image: url('/C:/BOOLEAN/htmlcss-playstation/img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.back-playplus{
    background-color: #161C3B;
}